# Python
__pycache__/
*.py[cod]
*.pyo

# Environments
venv/
.env
*.env

# Binaries and Keys
*.bin
*.key

# Test and Temp files
message.txt
decrypted.txt
*.log

# OS & Editor Junk
.DS_Store
Thumbs.db
.idea/
.vscode/

# Git
*.swp
*.swo
